* {
  border-radius: 0;
  font-family: "Ubuntu Nerd Font";
  font-weight: 500;
  color: rgba(170,170,170, 1);
}

#waybar {
  border-radius: 8px;
  /* padding: 0px 40px; */
  background: rgba(0,0,0,0.7);
}
#custom-apps {
  
  padding: 0 4px;
  border-radius: 0px;
  font-size: 16px;
}
#workspaces {
  
  padding: 0 4px;
  border-radius: 0px;
}

#workspaces button {
  padding: 0 2px;
  background: transparent;
  color: #71717a;
  font-size: 8px;
  transition: all ease-out 0.1s;
}

#workspaces button.focused {
  color: #f4f4f5;
  font-size: 12px;
}
#window {
  
  padding: 0 4px;
}
.modules-right {
  
  
  padding: 0 4px;
}
#pulseaudio,
#tray,
#language {
  padding: 0 8px;
}
#clock,
#battery,
#cpu,
#memory,
#network,
#custom-spotify,
#custom-warp,
#custom-zapret,
#mode {
  padding: 0 8px;
}

#clock {


}
#battery {
}

#battery icon {
  color: red;
}

#battery.charging {
}

@keyframes blink {
  to {
    
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#tray {
}
